<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262599958579-up5a1ip9a5cjdhad20guq7cjcms7gqcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262599958579-up5a1ip9a5cjdhad20guq7cjcms7gqcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCSHl6yuwLHlO05zkwnX3jRjzfxvTaPUN4</string>
	<key>GCM_SENDER_ID</key>
	<string>262599958579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cadClientes</string>
	<key>PROJECT_ID</key>
	<string>cadastro-clientes-teste-naka</string>
	<key>STORAGE_BUCKET</key>
	<string>cadastro-clientes-teste-naka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262599958579:ios:e465906b5550d7a981c346</string>
</dict>
</plist>